body {
  background-image: url("../assets/audience.jpg ");
  display: inline-block;
  text-align: center;
}
.key {
  background-color: rgba(39, 33, 33, 0);
  border: 2px solid black;
  text-align: center;
  float: left;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width:50px;
}
kbd {
  color: wheat;
  text-align: center;
  display: block;
}
.sound {
  color: gold;
  padding:0px;
  text-align:center;
  height: 60px;
  width: 70px;
}
.section {
  margin-top: 240px;
  margin-left: 400px;
}
div {
  display: block;
}
.playing{ 
  border: 1px solid gold;
  transform: scale(1.1);
  transition: height 2s;
  transition: width 2s;
  height: 50px;
  width: 60px;
  cursor: pointer;
}
